<%= render partial: 'partial/navigation' %>
<section class="main-section">
    <div class="banner">
        <%# <% if false %>
        <h1 class="banner__main-header">Hi, I'm Monk.</h1>
        <h2 class="banner__sub-header">Web Applications Developer</h2>
        <h2 class="banner__sub-header retracting-text retract">Specialized in <span>Creating Websites.</span></h2>
        <%# <% end %>
        <%# <h1 class="banner__main-header">Welcome</h1>
        <h2 class="banner__sub-header">Text for testing</h2> %>
        <%# <h2 class="banner__sub-header retracting-text retract">Specialized in <span>Creating Websites.</span></h2> %>
    </div>
    <a href="#about-me-section" class="banner__down-arrow bounce" data-controller="home_page">
        <i 
            class="ti-angle-down down-arrow-link" 
            data-controller="home_page">
        </i>
    </a>
</section>
<section class="about-me" id="about-me">
    <div class="about-me__profile-picture-container">
        <%= image_tag 'res-guy.jpg' %>
    </div>
    <div class="about-me__text">
        <h2>About Me</h2>
        <h3>Web Developer</h3>
        <p>
            I'm <strong>Monk Kokkalis</strong> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
        <p>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </p>
        <div class="about-me__icons">
            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                <i class="ti-facebook"></i>
            </a>

            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                <i class="ti-twitter-alt"></i>
            </a>

            <a href="https://accounts.google.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                <i class="ti-google"></i>
            </a>

            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                <i class="ti-instagram"></i>
            </a>

            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                <i class="ti-tumblr-alt"></i>
            </a>
        </div>
    </div>
</section>
<section class="services" id="services">
    <h2 class="services-first__header">Services</h2>
    <h3 class="services__second-header">What I can do</h3>
    <ul class="services__list">
        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-desktop"></i>
                </span>
            </div>
            <h4>Web Design</h4>
            <p>
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.
            </p>
        </li>
        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-layout"></i>
                </span>
            </div>
            <h4>Web Development</h4>
            <p>
                 No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
            </p>
        </li>
        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-mobile"></i>
                </span>
            </div>
            <h4>Responsive Design</h4>
            <p>
               Who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.
            </p>
        </li>

        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-target"></i>
                </span>
            </div>
            <h4>Game Development</h4>
            <p>
               Who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.
            </p>
        </li>

        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-harddrives"></i>
                </span>
            </div>
            <h4>Application Deployment</h4>
            <p>
               Who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.
            </p>
        </li>

        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-settings"></i>
                </span>
            </div>
            <h4>Support</h4>
            <p>
               Who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.
            </p>
        </li>
        
    </ul>
</section>
<section class="achievements">
    <div class="achievements__item">
        <div class="achievements__item__icon-container">
            <i class="ti-user"></i>
        </div>
        <div class="achievements__item__count">
            220
        </div>
        <p class="achievements__item__description">
            Happy Clients
        </p>
    </div>
    
</section>