<%= render partial: 'partial/navigation' %>
<section class="main-section">
    <div class="banner">
        <h1 class="banner__main-header">Hi, I'm Monk.</h1>
        <h2 class="banner__sub-header">Web Applications Developer</h2>
        <h2 class="banner__sub-header retracting-text retract">Specialized in <span>Creating Websites.</span></h2>
    </div>
    <a href="#about-me-section" class="banner__down-arrow bounce" data-target="about-me">
        <i class="fas fa-chevron-down" data-target="about-me"></i>
    </a>
</section>
<section style="height: 300px;" id="about-me">
<h1>About me</h1>
</section>


<section style="height: 600px;" id="about">
<h1>Services</h1>
</section>
