<%= render partial: 'partial/navigation' %>
<section class="main-section">
    <div class="banner">
        <h1 class="banner__main-header">Hi, I'm Monk.</h1>
        <h2 class="banner__sub-header">Web Applications Developer</h2>
        <h2 class="banner__sub-header retracting-text retract">Specialized in <span>Creating Websites.</span></h2>
    </div>
    <a href="#" class="banner__down-arrow bounce"><i class="fas fa-chevron-down"></i></a>
</section>
<section style="height: 300px;">

</section>