section {
    padding: 60px 50px;
    @media (max-width: 767px) {
        padding: 60px 20px;
    }
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    user-select: none;  
}

li {
    list-style: none;
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}