<nav class="navigation" data-scroll-locked="true">
    <ul class="navigation__list">
        <%# <li><a href="#" class="navigation__link">Home</a></li>
        <li><a href="#" class="navigation__link">About</a></li>
        <li><a href="#" class="navigation__link">Services</a></li>
        <li><a href="#" class="navigation__link">Works</a></li>
        <li><a href="#" class="navigation__link">Contact</a></li> %>

        <%# <i class="fas fa-bars"></i> %>
        <li>
            <button class="navigation__mobile-button" data-active="false" id="mobile-button" data-controller="mobile_navigation">
                <span class="mobile-button__bar upper"></span>
                <span class="mobile-button__bar middle"></span>
                <span class="mobile-button__bar lower"></span>
            </button>
        </li>
    </ul>
</nav>
<%# <nav class="mobile-navigation">
    <ul>
        <li><a href="#" class="navigation__link">Home</a></li>
        <li><a href="#" class="navigation__link">About</a></li>
        <li><a href="#" class="navigation__link">Services</a></li>
        <li><a href="#" class="navigation__link">Works</a></li>
        <li><a href="#" class="navigation__link">Contact</a></li>
    </ul>
</nav> %>