/*
 *= require_tree .
 *= require_self
 */

 *, *::before, *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
    font-family: Raleway, verdana, arial;   
}

section.main-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('background.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

div.banner {
    position: absolute;
    top: 30%;
    left: 10%;
}

@media (max-width: 530px) {
    div.banner {
        left: 50%;
        transform: translateX(-50%);
    }
}

h1.banner__main-header {
    color: #fff;
    font-size: 88px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    h1.banner__main-header {
        font-size: 68px;
    }
}

@media (max-width: 3) {
    h1.banner__main-header {
        font-size: 58px;
    }
}

@media (max-width: 530px) {
    h1.banner__main-header {
        font-size: 48px;
    }
}

@media (max-width: 430px) {
    h1.banner__main-header {
        font-size: 40px;
    }
}

h2.banner__sub-header {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    overflow: hidden;
    transition: width 350ms ease-out;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

@media (max-width: 530px) {
    h2.banner__sub-header {
        font-size: 20px;
    }
}                                                                                               

@media (max-width: 430px) {
    h2.banner__sub-header {
        font-size: 16px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    }
}

h2.banner__sub-header.retracting-text::after {
    content: '';
    width: 0.5px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8px;
    background-color: #fefefe;
}


h2.banner__sub-header.retracting-text {
    width: 75%;
}

@media (max-width: 768px) {
    h2.banner__sub-header.retracting-text {
        width: 100%;
        min-width: 40%;
    }
}

@media (max-width: 530px) {
    h2.banner__sub-header.retracting-text {
        min-width: 43%;
    }
}


h2.banner__sub-header span {
    font-weight: 600;
}

h2.banner__sub-header span::after {
    content: ' ';
}

a.banner__down-arrow {
    color: #fff;
    display: inline-block;
    font-size: 40px;
    position: absolute;
    bottom: 10%;
    left: 12%
}

nav.navigation {
    padding: 26px 40px;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

ul.navigation__list {
    list-style: none;
    float: right;
    display: flex;
}

ul.navigation__list li {
    padding-left: 13px;
}

ul.navigation__list a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    user-select: none;
}

ul.navigation__list li:not(:first-of-type) a:hover {
    opacity: 0.6;
}

ul.navigation__list li:first-of-type a {
    color: #fff;
}

button.navigation__mobile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 43px;
    outline: none;
}

button.navigation__mobile-button > span {
    width: 50px;
    height: 8px;
    transform-origin: center right;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 450ms ease-in-out;
}

@keyframes position_fixed {
    0%{
        opacity: 0;
        background-color: transparent;
        transform: scaleY(1.3) perspective(1px) translateZ(0);
    }

    25% {
        opacity: 0;
    }

    100%{
        opacity: 1;
        position: fixed;
        background-color: #fff;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
        transform: scaleY(1) perspective(1px) translateZ(0);
    }
}

@keyframes position_absolute {
    0% {
        opacity: 0;
        background-color: #fff;
        transform: scaleY(1.3) perspective(1px) translateZ(0);
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        position: absolute;
        background-color: transparent;
        transform: scaleY(1) perspective(1px) translateZ(0);
        box-shadow: none;
    }
}

.bounce {
    animation: bounce 800ms ease-in-out alternate 2;
}
@keyframes bounce {
    0% {
        bottom: 10%;
    }

    50% {
        bottom: 15%
    }

    100% {
        bottom: 12%;
    }
}

.retract {
    animation: retract 900ms ease-in-out alternate 2;
}
@keyframes retract{
   100% {
       width: 31%;
   }
}


