section.main-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('background.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

div.banner {
    position: absolute;
    top: 30%;
    left: 10%;
}

@media (max-width: 530px) {
    div.banner {
        left: 50%;
        transform: translateX(-50%);
    }
}

h1.banner__main-header {
    color: #fff;
    font-size: 88px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    h1.banner__main-header {
        font-size: 68px;
    }
}

@media (max-width: 3) {
    h1.banner__main-header {
        font-size: 58px;
    }
}

@media (max-width: 530px) {
    h1.banner__main-header {
        font-size: 48px;
    }
}

@media (max-width: 430px) {
    h1.banner__main-header {
        font-size: 40px;
    }
}

h2.banner__sub-header {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    overflow: hidden;
    transition: width 350ms ease-out;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

@media (max-width: 530px) {
    h2.banner__sub-header {
        font-size: 20px;
    }
}                                                                                               

@media (max-width: 430px) {
    h2.banner__sub-header {
        font-size: 16px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    }
}

h2.banner__sub-header.retracting-text::after {
    content: '';
    width: 0.5px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8px;
    background-color: #fefefe;
}


h2.banner__sub-header.retracting-text {
    width: 75%;
}

@media (max-width: 768px) {
    h2.banner__sub-header.retracting-text {
        width: 100%;
        min-width: 40%;
    }
}

@media (max-width: 530px) {
    h2.banner__sub-header.retracting-text {
        min-width: 43%;
    }
}


h2.banner__sub-header span {
    font-weight: 600;
}

h2.banner__sub-header span::after {
    content: ' ';
}

a.banner__down-arrow {
    color: #fff;
    display: inline-block;
    font-size: 40px;
    position: absolute;
    bottom: 10%;
    left: 12%
}

section.about-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.about-me__profile-picture-container {
    flex: 0 1 40%;
    position: relative;
    margin-top: 20px;
    @media (max-width: 767px) {
        flex: 0 1 100%;
    }
    img {
        width: 100%;
    }

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        left: -30px;
        top: 30px;
        background-color: #f1f1f1;
        height: 100%;
        width: 100%;
        @media (max-width: 1000px) {
            display: none;
        }
    }
}

div.about-me__text {
    flex: 0 1 53%;
    margin-top: 20px;
    @media (max-width: 767px) {
        flex: 0 1 100%;
    }
    h2 {
        font-size: 32px;
        text-transform: uppercase;
    }

    h3 {
        font-weight: 300;
        font-size: 19px;
    }

    h2, h3, p, div.about-me__icons {
        margin-bottom: 15px;
    }

    p {
        line-height: 30px;
        font-family: 'Lato', 'Verdana', sans-serif;
        color: #484848;
    }

    a.about-me__icons__icon {
        background-color: #222222;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        font-size: 16px;
        margin-right: 10px;
        position: relative;
        transition: background-color 350ms ease-in-out;
        border: 2px solid #222222;
        &:hover {
            background-color: #ffffff;
            i {
                color: #222222;
            }
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: color 350ms ease-in-out;
        }
    }
}

section.services {
    background-color: #f2f2f2;
    h2, h3 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    h2.services-first__header {
        font-size: 16px;
    }

    h3 {
        font-size: 32px;
    }

    ul.services__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            & > * {
                margin-bottom: 20px;
            }

            margin-top: 40px;
            flex: 0 1 30%;
            height: 265px;
            text-align: center;
            @media (max-width: 768px) {
                flex: 0 1 49%;
            }

            @media (max-width: 500px) {
                flex: 0 1 100%;
            }
            span.services__list__icon-container {
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: 1px solid #e3e3e3;
                position: relative;
                display: inline-block;
                transition: background-color 450ms ease-in-out;
                cursor: pointer;
                &:hover {
                    background-color: #fefefe;
                }
                i {
                    position: absolute;
                    font-size: 30px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #222222;
                }
            }
            h4 {
                font-size: 18px;
                color: #222222;
                text-transform: uppercase;
                font-weight: 900;
            }

            p {
                line-height: 25px;
            }
        }
    }
}

section.achievements {
    min-height: 360px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('coffee-shop.jpeg');
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    div.achievements__item {
        height: 200px;
        // border: 1px solid whitesmoke;
        flex: 0 1 24%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        user-select: none;
        & > * {
            flex: 0 1 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 40px;
        }
        div.achievements__item__icon-container {
            color: #ffffff;
            position: relative;
            align-items: flex-start;
            i {
                position: relative;
                &::after {
                    content: '';
                    width: 100%;
                    height: 4px;
                    background-color: #ffffff;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    border-radius: 20%;
                }
            }
        }
        p.achievements__item__description {
            font-size: 20px;
            font-weight: 600;
        }
    }
}