button.navigation__mobile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 43px;
    outline: none;
    display: none;
    @media (max-width: 600px) {
        display: flex;
    }
    
}

button.navigation__mobile-button > span {
    width: 50px;
    height: 8px;
    transform-origin: right;
    background-color: #000000;
    border-radius: 10px;
    transition: transform 450ms ease-in-out;
}

nav.mobile-navigation {
    position: fixed;
    top: 103px;
    background-color: #fff;
    z-index: 2;
}

nav.mobile-navigation a {
    color: #000000;
}

ul.mobile-navigation__list {
    margin-top: 80px;
    li {
        padding: 10px;
        a {
            color: #000000;
            cursor: pointer;
            font-size: 16px;
            position: relative;
            &.active::after {
                position: absolute;
                border-radius: 4px;
                content: '';
                height: 2px;
                width: 100%;
                left: 0;
                bottom: -4px;
                background-color: #000000;
                transition: width 300ms ease-in-out;
            }
        }
    }
}