nav.navigation {
    padding: 30px 40px;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

ul.navigation__list {
    list-style: none;
    float: right;
    display: flex;
    justify-content: flex-end;
}

ul.navigation__list li {
    padding-left: 13px;
    @media (max-width: 600px) {
        &:not(:last-of-type) {
            display: none;
        }
    }
}

a.navigation__link {
    color: #ffffff;
    font-size: 16px;
    transition: color 320ms ease-in-out;
    position: relative;
    &:hover {
        color: #BDBDBD;
        &::after {
            transform: scaleX(1);
        }
    }
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #ffffff;
        bottom: -8px;
        left: 0;
        transform: scaleX(0);
        transition: transform 350ms ease-in-out;
    }
    &.active::after {
        transform: scaleX(1);
    }
}

a.dark-border::after {
    background-color: #000000;
}